
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestHTML</title>
</head>
<body>
 
        @{Html.BeginForm("Browse", "Home"); }
        @Html.Label("User Name: ") 
        @Html.TextBox("textBox1") <br />
        @Html.Label("Address: ") <br />
        @Html.TextArea("textareal")</br>
    @Html.Label("Password:")
    @Html.Password("password")</br>
    @Html.Label("I need update on my mail:")
    @Html.CheckBox("checkbox1")</br>
    @Html.Label("Select your city:")
    @Html.DropDownList("myList", new SelectList(new[] { "New Yourk", "Ha Noi", "Ho Chi Minh" }
), "Choose") </> </br>
    <input type= "submit" value="Submit">
    
    @{Html.EndForm();}

        
</body>
</html>
