@model WebApplication.Models.User
@{
    ViewBag.Title = "Index4";
}

<h2>Index4</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Id)
    @Html.EditorFor(model => model.Id)
    <br />
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br />
    @Html.LabelFor(model => model.Address)
    @Html.EditorFor(model => model.Address)
    <br />
    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
    <br />
    <input type="submit" name="submit" value="Submit" />
}
