@model _08_LTUDDN_VuKhuongDuy_20103100764.Models.MuonTra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MuonTra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocGia.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocGia.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDG, tensach = Model.TenSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
